<nav *ngIf="isLoggedIn" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" routerLink="/">Retro Supermarket</a>
  
      <button class="navbar-toggler" type="button" (click)="toggleNavbar()"
        [attr.aria-expanded]="isNavbarCollapsed ? 'true' : 'false'" aria-controls="navbarNav"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div [ngClass]="{'collapse navbar-collapse': true, 'show': isNavbarCollapsed}" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-white mx-2" routerLink="/leaves" routerLinkActive="active"
              (click)="toggleNavbar()">Leave Managemet</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white mx-2" routerLink="/users" routerLinkActive="active"
              (click)="toggleNavbar()">Employee Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white mx-2" routerLink="/message" routerLinkActive="active"
              (click)="toggleNavbar()">Notifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white mx-2" href="javascript:void(0)" (click)="logout()"
              routerLinkActive="active">Logout</a>
          </li>
        </ul>
  
      </div>
    </div>
  </nav>
  
  <router-outlet />